.button {
  border: solid 5px;
  background-color: var(--background-primary-clor);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-top-left-radius: 70% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom-left-radius: 70% 100%;
  border-bottom-right-radius: 70% 100%;
  font-size: 2rem;
}
.button:hover {
  border-color: rgb(0 0 0 / 70%);
  box-shadow: 6px 40px 10px -30px rgb(0 0 0 / 50%);
}
.button:active {
  box-shadow: none;
}
