.footer {
  height: 1rem;
  display: flex;
  padding: 0 0.5rem 0.2rem;
  justify-content: center;
  align-items: center;
}

.leftMargin {
  flex-grow: 1;
}

.signature {
  margin: 0 1rem;
  font-size: var(--size-tiny);
}
