.header {
  display: flex;
  margin-top: 0.5rem;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.octocat {
  rotate: -20deg;
}

.headerLeft,
.headerRight {
  flex-grow: 1;
  display: flex;
}
.headerRight {
  justify-content: end;
  align-items: center;
}
.lang {
  margin: 0 1rem;
}
