.wood {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.paperContainer {
  margin: auto;
  min-height: 100vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  padding: 0 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
