.textarea {
  width: 200px;
  height: 200px;
  border: dashed 3px;
  border-top-left-radius: 255px 10px;
  border-top-right-radius: 10px 255px;
  border-bottom-left-radius: 255px 10px;
  border-bottom-right-radius: 10px 255px;
  border-color: #0009;
}
