.uploadArea {
  height: 300px;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--image-background-color);
  border-radius: 2%;
  border: dotted var(--tertiary-border-color);
  cursor: pointer;
}

.instruction {
  font-size: var(--size-medium);
}

.input {
  display: none;
}
