.title {
  margin: 1rem 0;
  line-height: 1.15;
  font-size: var(--size-huge);
  text-align: center;
  font-family: var(--font-title);
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: var(--size-medium);
}

.button {
  margin: 2rem 0;
}

.disclaimer {
  font-size: var(--size-small);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
