.menu {
  display: flex;
  justify-content: right;
  width: 100%;
  max-width: 400px;
  font-size: var(--size-tiny);
}

.button {
  margin: 2rem 0;
}

.note {
  margin: 1rem 0;
  font-size: var(--size-small);
}
