.menu {
  display: flex;
  justify-content: right;
  font-size: var(--size-tiny);
  align-self: stretch;
}

.button {
  margin: 2rem 0;
}

.note {
  margin: 1rem 0;
  font-size: var(--size-small);
}

.multipleUploadArea {
  margin: 1rem 0;
}
