:root {
  --size-huge: 3rem;
  --size-big: 2rem;
  --size-medium: 1.5rem;
  --size-small: 1rem;
  --size-tiny: 0.7rem;
  --font-title: "Yuji Boku";
  --font-text: "Yomogi";
}

html {
  --primary-text-color: #000;
  --secondary-text-color: #555;
  --tertiary-text-color: #bcbcbc;
  --error-text-color: #f55;
  --primary-background-color: #fff;
  --secondary-background-color: #d9d9d9;
  --image-background-color: #f1f1f1;
  --loader-background-color: #000c;
  --primary-border-color: #000;
  --secondary-border-color: #555;
  --tertiary-border-color: #bcbcbc;
  --shadow-color: #515151;
  --gradation-color: #fff;
  --outside-color: #111;
}

body {
  background-color: var(--outside-color);
  background-image: url("/wood-texture.svg");
}

* {
  font-family: var(--font-text), monospace;
  white-space: pre-wrap;
}
